/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: radial-gradient(circle at top right, #00cdb8 0%, transparent 40%),
    radial-gradient(circle at bottom left, #0b0e14 0%, #151a23 100%);
  background-color: #0b0e14;
  color: white;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.section {
  padding: 4rem 0;
}

.features {
  background-color: #f9f9f9;
  padding: 3rem 0;
}

@media screen and (max-width: 996px) {
  .section {
    padding: 2rem 0;
  }

  .features {
    padding: 2rem 0;
  }

  .buttons {
    flex-direction: column;
    gap: 1rem;
  }
}